@import "./base.scss";

// Logo font
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light;
  padding: 0.8rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  position: fixed;
  top: 0.8rem;
  left: calc(50% - 600px);
  z-index: 10;
  border-radius: 200px;

  > .site-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;

    > img {
      width: 65px;
    }

    > h1 {
      font: 500 2rem "Ubuntu";
      color: $blue1;
    }

    &:hover {
      transform: scale(102%);
    }
  }

  > .mobilemenu {
    display: none;
  }

  > menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    > a {
      text-decoration: none;
      color: $blue1;
      font: 700 1rem $font1;
      transition: 0.3s;

      &:hover {
        color: $blue3;
        transform: scale(105%);
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  .header {
    width: 100%;
    flex-wrap: wrap;
    left: 0%;
    top: 0;
    border-radius: 0px 0px 30px 30px;
    padding: 0.5rem 1.5rem;

    > .site-logo {
      > img {
        width: 50px;
      }

      > h1 {
        font: 700 1.5rem "Ubuntu";
      }
    }
    > .mobilemenu {
      display: flex;
      position: relative;
      > button {
        background-color: transparent;
        border: none;
        outline: none;
        transition: 0.3s;

        > svg {
          font-size: 1.5rem;
        }
      }

      > .menu {
        width: 250px;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        background-color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border-radius: 20px;

        > a {
          text-decoration: none;
          color: $blue1;
          font: 700 1.2rem $font1;
          transition: 0.3s;

          &:hover,
          &:focus {
            color: $blue3;
            transform: scale(105%);
          }
        }
      }
    }
    > menu {
      display: none;
    }
  }
}
